version: "3.9"

services:
  jenkins:
    image: jenkins/jenkins:lts-jdk17
    container_name: jenkins
    restart: unless-stopped

    ports:
      - "8080:8080"

    volumes:
      - ./jenkins_home:/var/jenkins_home
